<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body{
          background-image: url('https://www.hopkinsmedicine.org/-/media/images/health/1_-conditions/brain/brain-anatomy-hero.ashx?h=500&iar=0&mh=500&mw=1300&w=1297&hash=4270ECB909081093C6EC161D9EDD64BC');
          background-repeat: no-repeat;
          background-attachment: fixed;
         background-size: cover;
        }
        </style>
    <title>Vaidya Saathi</title>
</head>
<body>
        <div class="container h-100" style="margin-top: 7%;">
          <div class="row d-flex justify-content-left align-items-left h-100">
            <div class="col-lg-10 col-xl-8">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                            <center><h4 style="color:red;">{{ele}}</h4></center><br>
                          </div>
                        </div>
                         <center><button class="btn btn-primary btn-lg" style="background-color: #0081C9;"><a href = '/upload' style="text-decoration: none; color: white;">Predict again</a></button></center>
                        </div> 
                    </div>
                </div>
                </div>
                </div>
                <div style="margin-right: 40%; margin-top: 5% ; margin-left : 15%;">
                <h3 style="color:black;">Treatment Options</h3>
                    <ul style="color:white; font-size:larger;">
                        <li>Observation: In some cases, small and asymptomatic meningiomas may be monitored closely without immediate treatment.</li>
                        <li>Surgery: Surgical removal is often the primary treatment for meningiomas. The goal is to completely remove the tumor while preserving neurological function.</li>
                        <li>Radiation therapy: Radiation may be used after surgery to destroy any remaining tumor cells or as the primary treatment when surgery is not possible.
                        </li>
                        <li>Medications: Certain hormonal therapies may be used for meningiomas that are hormone-sensitive.
                        </li>
                    </ul>
                </div>
</body>
</html>